.container {
    width: 60%;
    border: 2px solid black;
    align-items: center;
}
.data {
    padding: 2%;
    margin: 10px;
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif; 
}
h1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
}