body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiLB3zqT9pIcgqWkHPmZDGb21SgGXb6FIMkQ&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 60%;
    border: 2px solid rgb(88, 5, 5);
    align-items: center;
}
.data {
    background-color: rgb(24, 18, 18);
    box-shadow: 2px 5px 5px white;
    color: white;
    padding: 1%;
    margin: 1% 35% 1% 35%;
    font-size: 22px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif; 
    border-radius: 45%;
    text-align: center;
    text-shadow: 2px 4px 4px rgb(243, 241, 244);
}
.data:hover {
    background-color: rgb(97, 21, 21);
}
h1 {
    text-shadow: 2px 4px 4px yellow;
    background-color: black;
    color: white;
    border-radius: 3%;
    margin: 3% 35% 3% 35%;
    padding: 1%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    box-shadow: 2px 5px 5px white;
}