* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sky {
    width: 100%;
    height: 100vh;
    background-image: url("https://lh4.googleusercontent.com/V3W2BBJO_GlFuP1-1hU_x8oOa1SGq9_DPQGuqgrlHUPa6s1_oVhqnwL3l7joYsBQqOY7Hiom4cpFjBM=w1898-h932");
    position: relative;
    overflow: hidden;

}
.birds img {
    width: 15%;
}
.birds {
    animation: birds 5s linear infinite;
}
@keyframes birds {
    0% {
        transform: translate(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.highway {
    width: 300%;
    height: 200px;
    background-image: url("https://lh3.googleusercontent.com/pEX6tETUlnSIZdEtWo8Rdd6a4KGu7HzkhINYpmyPv7MxVY1Z4FE72aFLK-L8pynae7CnrqS7PTJ5qtw=w1898-h932");
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation: highway 3s linear infinite;
}
@keyframes highway {
    100% {
        transform:translateX(-1500px);
    }
}

.city {
    width: 300%;
    height: 200px;
    background-image: url("https://lh6.googleusercontent.com/CAnEF9tYD4ObAK_d9J_osvbT67o1FCNDE8hNsuxJf-RVnzwGHANt9IRneTRif_3EByREBZE4dbLaUsk=w1898-h932");
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    animation: city 3s linear infinite;
}
@keyframes city {
    100% {
        transform:translateX(-1500px);
    }
}
.car {
    width: 400px;
    /* height: 200px; */
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    z-index: 2;
}
.car img {
    width: 100%;
    animation: car 1.5s linear infinite;
}
@keyframes car {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0x);
    }
    100% {
        transform: translateY(-5px);
    }
}
.wheel {
    /* border: 2px solid red; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 185px;
    z-index: 2;
}
.wheel img {
    width: 72px;
    height: 72px;
    animation: wheel 0.5s linear infinite;
}
@keyframes wheel {
    100% {
        transform: rotate(360deg);
    }
}
.startWheel {
    position: absolute;
    left: 80px;
}
.lastWheel {
    position: absolute;
    left: -165px;
}
.plane img{
    width: 13%;
}
.plane {
    animation: plane 5s linear infinite;
}
@keyframes  plane{
    100% {
        transform: translateX(100%);
    }
}